.HeaderMain{
    background-color: #222;
    height: 36px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 32px;
    padding-left: 16px;
    display: flex;   

}
.scrollBarTop{
    display:block;
    height: 20px;
    background-color: #ff9999;
    position: relative;
    text-align: center;
    padding:8px,8px,8px,8px;
    font-size: 1rem;
}
#logo{
    background-color: #ff7f7f;
    height: 35px;
    animation: logoMove 8s linear 0s infinite ;  
    position: absolute;
    left: 10px;
}
@keyframes logoMove {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
  }
  #logInButton{
      position: absolute;
      right: 10px;
      display: flex;
      
  }